@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap");

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #1c2833;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.popup {
  width: 300px;
  min-height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 50px;
}

/* .popup .title {
  font-size: 1.6em;
}
 */
.popup .aya-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 0;
  font-size: 1.6em;
}

.random-ayah-button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.5rem 1.4rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.random-ayah-button:hover {
  background-color: #374151;
}

.random-ayah-button:active {
  background-color: #293241;
}

.random-ayah-button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .random-ayah-button {
    padding: 0.75rem 1.5rem;
  }
}

.lang-select {
  background-color: #1c2833;
  color: white;
  font-size: 1.3em;
  border: 1px solid #111827;
  padding: 5px 10px;
  outline: none;
  border-top-left-radius: 15px;
}

.lang-select:hover {
  background-color: #374151;
  outline: none;
}
.lang-select:active {
  background-color: #374151;
  outline: none;
}
